Kodi-nodered.json
[
   {
      "id":"ecbcf639.5c872",
      "type":"tab",
      "label":"Kodi",
      "disabled":false,
      "info":""
   },
   {
      "id":"d97b3c4a.4ded3",
      "type":"debug",
      "z":"ecbcf639.5c872",
      "name":"Debug",
      "active":true,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"true",
      "targetType":"full",
      "statusVal":"",
      "statusType":"auto",
      "x":950,
      "y":40,
      "wires":[
         
      ]
   },
   {
      "id":"7a2e386c.ab4bc8",
      "type":"function",
      "z":"ecbcf639.5c872",
      "name":"Play/Pause",
      "func":"var MyPlayerID=flow.get('MyPlayerID') || 9;\n\nif ((MyPlayerID == 0) || (MyPlayerID == 9 ) )\n    {return{ \n        \"payload\":   \n            {\"jsonrpc\": \"2.0\", \"id\": 1, \"method\": \"Input.select\"\n            }\n        }\n    }\nelse\n    return {\n        \"payload\":   \n            {\"jsonrpc\": \"2.0\", \n            \"id\": 1, \n            \"method\": \"Player.PlayPause\",\n            params: {\"playerid\": MyPlayerID}  \n            },\"playerid\": MyPlayerID   \n       }\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":590,
      "y":440,
      "wires":[
         [
            "d97b3c4a.4ded3",
            "c6f20bac.b162a8"
         ]
      ]
   },
   {
      "id":"6fe0b31d.d7a804",
      "type":"function",
      "z":"ecbcf639.5c872",
      "name":"Cursor navigate",
      "func":"MyDirection=msg.button.slice(7,99)\nMyDirection = MyDirection.toLowerCase()\nif (MyDirection == \"enter\" )\n    {MyDirection = \"select\"\n    var MyPlayerID=flow.get('MyPlayerID') || 0;    \n\n    if (MyPlayerID != 0 )     \n        { return {\"payload\":   \n        {\"jsonrpc\": \"2.0\", \"id\": 1, \"method\": \"Player.PlayPause\",\n        params: {\"playerid\": MyPlayerID}  }}\n        }\n    } \n\nreturn {\"payload\":   \n    {\"jsonrpc\": \"2.0\", \"id\": 1, \"method\": \"Input.\"+MyDirection}\n};",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":600,
      "y":520,
      "wires":[
         [
            "c6f20bac.b162a8",
            "d97b3c4a.4ded3"
         ]
      ]
   },
   {
      "id":"bcd9a144.c8d3",
      "type":"function",
      "z":"ecbcf639.5c872",
      "name":"Stop",
      "func":"\nvar MyPlayerID=flow.get('MyPlayerID') || 1; \n\nreturn {\"payload\":   \n    {\"jsonrpc\": \"2.0\", \"id\": 1, \"method\": \"Player.Stop\",\n    params: {\"playerid\": MyPlayerID}\n    }\n};",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":570,
      "y":480,
      "wires":[
         [
            "c6f20bac.b162a8"
         ]
      ]
   },
   {
      "id":"e84a19ae.e2d36",
      "type":"function",
      "z":"ecbcf639.5c872",
      "name":"SetVolume ",
      "func":"\n    if (msg.button == \"VOLUME UP\" ) \n       {MyDirection=\"increment\"\n       }\n      else\n       {MyDirection=\"decrement\"         \n        }\n\n    return {\"payload\":   \n        {\"jsonrpc\": \"2.0\", \"id\": 1, \"method\": \"Application.SetVolume\",\n          \"params\" :{\"volume\":MyDirection}         \n         }    \n};",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":590,
      "y":600,
      "wires":[
         [
            "c6f20bac.b162a8"
         ]
      ]
   },
   {
      "id":"c6f20bac.b162a8",
      "type":"websocket out",
      "z":"ecbcf639.5c872",
      "name":"KODI ",
      "server":"",
      "client":"58a6298c.dcdcd",
      "x":890,
      "y":680,
      "wires":[
         
      ]
   },
   {
      "id":"5d1d541e.d90f44",
      "type":"websocket in",
      "z":"ecbcf639.5c872",
      "name":"Kodi-woonkamer",
      "server":"",
      "client":"58a6298c.dcdcd",
      "x":140,
      "y":60,
      "wires":[
         [
            "b4accc65.c08ae",
            "a416a66c.c2fcb8"
         ]
      ]
   },
   {
      "id":"9124b056.42a628",
      "type":"function",
      "z":"ecbcf639.5c872",
      "name":"SetSubtitle",
      "func":"return {\"payload\":   \n    {\"jsonrpc\": \"2.0\", \"id\": 1, \"method\": \"GUI.ActivateWindow\",\n    params: {\"window\": \"subtitlesearch\"}\n\n    \n    }\n};\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":590,
      "y":760,
      "wires":[
         [
            "c6f20bac.b162a8"
         ]
      ]
   },
   {
      "id":"8f378129.8185d",
      "type":"inject",
      "z":"ecbcf639.5c872",
      "name":"Poll system",
      "props":[
         {
            "p":"payload"
         },
         {
            "p":"topic",
            "vt":"str"
         }
      ],
      "repeat":"60",
      "crontab":"",
      "once":true,
      "onceDelay":0.1,
      "topic":"",
      "payload":"",
      "payloadType":"date",
      "x":150,
      "y":300,
      "wires":[
         [
            "d6509e4b.bb39b8"
         ]
      ]
   },
   {
      "id":"d6509e4b.bb39b8",
      "type":"function",
      "z":"ecbcf639.5c872",
      "name":"Get Activeplayer",
      "func":"var KodiStarted=flow.get('KodiStarted') || \"NO\"\nvar MyPlayerID=flow.get('MyPlayerID') || 0;\n\nreturn {\"payload\":  \n   {\"jsonrpc\": \"2.0\", \n    \"method\": \"Player.GetActivePlayers\", \n    \"id\": 99},\n    KodiStarted: KodiStarted,\n    MyPlayerID: MyPlayerID\n}",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":420,
      "y":300,
      "wires":[
         [
            "459939c9.302818"
         ]
      ]
   },
   {
      "id":"352f91d3.bf13e6",
      "type":"mqtt in",
      "z":"ecbcf639.5c872",
      "name":"MQTT-Meta",
      "topic":"meta/Kodi player/#",
      "qos":"2",
      "datatype":"auto",
      "broker":"920bfa37.0c7b9",
      "x":110,
      "y":500,
      "wires":[
         [
            "db2d1668.8c6f9"
         ]
      ]
   },
   {
      "id":"db2d1668.8c6f9",
      "type":"function",
      "z":"ecbcf639.5c872",
      "name":"Isolate button",
      "func":"// meta/Kodi player/default/button/POWER ON \n// 123456789A123456789B123456789C123456789D123456789E     \nreturn {\n      button: msg.topic.slice(32 , 99)\n};",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":200,
      "y":580,
      "wires":[
         [
            "898179c3.1bab28"
         ]
      ]
   },
   {
      "id":"898179c3.1bab28",
      "type":"switch",
      "z":"ecbcf639.5c872",
      "name":"",
      "property":"button",
      "propertyType":"msg",
      "rules":[
         {
            "t":"cont",
            "v":"PLAY",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"PAUSE",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"STOP",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"CURSOR",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"PAGE",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"VOLUME",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"MENU",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"CHANNEL",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"BACK",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"SUBTITLE",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"LANGUAGE",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"POWER",
            "vt":"str"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":12,
      "x":350,
      "y":580,
      "wires":[
         [
            "7a2e386c.ab4bc8"
         ],
         [
            "7a2e386c.ab4bc8"
         ],
         [
            "bcd9a144.c8d3"
         ],
         [
            "6fe0b31d.d7a804"
         ],
         [
            "db10043d.5ee7f"
         ],
         [
            "e84a19ae.e2d36"
         ],
         [
            "5a297994.1d73c8"
         ],
         [
            "80fae50e.b60ac"
         ],
         [
            "e3d7fc31.a1e408"
         ],
         [
            "9124b056.42a628"
         ],
         [
            "146e79f5.d8fdc6"
         ],
         [
            "6fdc3e95.356a6"
         ]
      ]
   },
   {
      "id":"b4accc65.c08ae",
      "type":"switch",
      "z":"ecbcf639.5c872",
      "name":"",
      "property":"payload",
      "propertyType":"msg",
      "rules":[
         {
            "t":"cont",
            "v":"{\"id\":99",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"method\":\"Player.OnPlay\"",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"method\":\"Player.OnStop\"",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"\"method\":\"System.OnQuit\"",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"\"result\":\"OK\"",
            "vt":"str"
         },
         {
            "t":"else"
         }
      ],
      "checkall":"false",
      "repair":false,
      "outputs":6,
      "x":390,
      "y":60,
      "wires":[
         [
            "896e953.d03cce8"
         ],
         [
            "d14e32e1.8410f8"
         ],
         [
            "d14e32e1.8410f8"
         ],
         [
            "3e116a39.effd0e"
         ],
         [
            "19f92541.992d83"
         ],
         [
            
         ]
      ]
   },
   {
      "id":"d14e32e1.8410f8",
      "type":"function",
      "z":"ecbcf639.5c872",
      "name":"Playstop/start",
      "func":"mystatus = JSON.parse(msg.payload) // playerid} \nMyEvent = mystatus.method\n\nif (MyEvent == \"Player.OnStop\") {\n   IsActive = false \n   MyPlayerID = 0\n   flow.set('MyPlayerìd',0)    \n   } \nelse {\n   IsActive = true\n   MyPlayerID = mystatus.result[0].playerid\n   flow.set('MyPlayerìd',MyPlayerID);\n  }\n\n\nreturn {\n   payload: mystatus, MyEvent, myfield: IsActive , MyPlayerID: MyPlayerID\n    }\n    ",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":620,
      "y":80,
      "wires":[
         [
            "d97b3c4a.4ded3"
         ]
      ]
   },
   {
      "id":"896e953.d03cce8",
      "type":"function",
      "z":"ecbcf639.5c872",
      "name":"CheckIsPlaying",
      "func":"mystatus = JSON.parse(msg.payload) // playerid} \nMyPlayer = mystatus.result\nIsActive = false\nfor(var i in MyPlayer) {\n       IsActive = true;\n   }\n\nflow.set('IsPlaying',IsActive);\nif (IsActive == true)\n   {NowPlayerID = mystatus.result[0].playerid\n   flow.set('MyPlayerìd',NowPlayerID);\n  }\nelse\n  {NowPlayerID = 0\n  flow.set('MyPlayerìd',0)\n  }\n\nreturn {\n   MyStatus: IsActive,\n   payload: mystatus,\n   MyPlayerìd: NowPlayerID\n    }",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":620,
      "y":40,
      "wires":[
         [
            "d97b3c4a.4ded3"
         ]
      ]
   },
   {
      "id":"e3d7fc31.a1e408",
      "type":"function",
      "z":"ecbcf639.5c872",
      "name":"Back",
      "func":"return {\"payload\":   \n    {\"jsonrpc\": \"2.0\", \"id\": 1, \"method\": \"Input.back\"\n    \n    }\n};",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":570,
      "y":720,
      "wires":[
         [
            "c6f20bac.b162a8"
         ]
      ]
   },
   {
      "id":"5a297994.1d73c8",
      "type":"function",
      "z":"ecbcf639.5c872",
      "name":"Menu",
      "func":"\nvar IsPlayerActive=flow.get('IsPlaying') || false;\n\nif (IsPlayerActive)\n    return {\"payload\":   \n    {\"jsonrpc\": \"2.0\", \"id\": 1, \"method\": \"Input.ShowOSD\"  }\n    }\nelse\n    return {\"payload\":   \n    {\"jsonrpc\": \"2.0\", \"id\": 1, \"method\": \"Input.ContextMenu\"}\n    }\n;\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":570,
      "y":640,
      "wires":[
         [
            "c6f20bac.b162a8"
         ]
      ]
   },
   {
      "id":"db10043d.5ee7f",
      "type":"function",
      "z":"ecbcf639.5c872",
      "name":"Page",
      "func":"MyDirection=msg.button.slice(5,99)\nMyDirection = MyDirection.toLowerCase()\n\nreturn {\"payload\":   \n    {\"jsonrpc\": \"2.0\", \"id\": 1, \"method\": \"Input.ExecuteAction\", \n     \"params\": { \"action\": \"page\"+MyDirection }  \n    }\n};\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":570,
      "y":560,
      "wires":[
         [
            "c6f20bac.b162a8"
         ]
      ]
   },
   {
      "id":"a416a66c.c2fcb8",
      "type":"debug",
      "z":"ecbcf639.5c872",
      "name":"NEEO-Brain",
      "active":true,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"true",
      "targetType":"full",
      "statusVal":"",
      "statusType":"auto",
      "x":410,
      "y":160,
      "wires":[
         
      ]
   },
   {
      "id":"80fae50e.b60ac",
      "type":"function",
      "z":"ecbcf639.5c872",
      "name":"Channel",
      "func":"MyDirection=msg.button.slice(8,99)\nMyDirection = MyDirection.toLowerCase()\n\nreturn {\"payload\":   \n    {\"jsonrpc\": \"2.0\", \"id\": 1, \"method\": \"Input.ExecuteAction\", \n     \"params\": { \"action\": \"page\"+MyDirection }  \n    }\n};",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":580,
      "y":680,
      "wires":[
         [
            "c6f20bac.b162a8"
         ]
      ]
   },
   {
      "id":"6fdc3e95.356a6",
      "type":"function",
      "z":"ecbcf639.5c872",
      "name":"Power",
      "func":"MyPower=msg.button.slice(6,99)\nMyPower = MyPower.toLowerCase()\nif (MyPower == \"off\" )\n   return {\"payload\":   \n       {\"jsonrpc\": \"2.0\", \"id\": 1, \"method\": \"GUI.ActivateWindow\",\n       params: {\"window\": \"shutdownmenu\"}\n       }\n   }\nelse\n   return {\"payload\":  \n      {\"jsonrpc\": \"2.0\", \"method\": \"GUI.ShowNotification\", \"params\": \n         {\"title\": \"NEEO-Metadriver\", \n         \"message\": \"NEEO-connection active\", \n             \"displaytime\":'\"5000\"'\n         },\n      \"id\": 1}\n   }\n\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":570,
      "y":840,
      "wires":[
         [
            "c6f20bac.b162a8"
         ]
      ]
   },
   {
      "id":"146e79f5.d8fdc6",
      "type":"function",
      "z":"ecbcf639.5c872",
      "name":"SUb-Sync",
      "func":"\nvar IsPlayerActive=flow.get('IsPlaying') || false;\n\nif (IsPlayerActive)\n    return {\"payload\":   \n      {\"jsonrpc\": \"2.0\", \"id\": 1, \"method\": \"GUI.ActivateWindow\",\n      params: {\"window\":\"subtitlesearch\"}\n      }    \n    }\nelse\n    return {\"payload\":   \n    {\"jsonrpc\": \"2.0\", \"id\": 1, \"method\": \"Input.ContextMenu\"}\n    }\n;\n\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":590,
      "y":800,
      "wires":[
         [
            "c6f20bac.b162a8"
         ]
      ]
   },
   {
      "id":"3e116a39.effd0e",
      "type":"function",
      "z":"ecbcf639.5c872",
      "name":"Kodi stopped",
      "func":"flow.set('KodiStarted',\"NO\");\nreturn null\n//{ payload:  \"Kodi stopped\"} ",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":620,
      "y":120,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"459939c9.302818",
      "type":"switch",
      "z":"ecbcf639.5c872",
      "name":"",
      "property":"KodiStarted",
      "propertyType":"msg",
      "rules":[
         {
            "t":"eq",
            "v":"YES",
            "vt":"str"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":1,
      "x":630,
      "y":300,
      "wires":[
         [
            "c6f20bac.b162a8",
            "d97b3c4a.4ded3"
         ]
      ]
   },
   {
      "id":"19f92541.992d83",
      "type":"function",
      "z":"ecbcf639.5c872",
      "name":"OK-message-KODI",
      "func":"var KodiStarted=flow.get('KodiStarted') || \"NO\"\nif (KodiStarted==\"YES\") // we were alreay up\n    {return null\n    }\nflow.set('KodiStarted',\"YES\");\nreturn {\n        \"payload\":  \n            {\"jsonrpc\": \"2.0\", \"method\": \"GUI.ShowNotification\", \n                \"params\": \n                    {\"title\": \"NEEO-Metadriver\", \n                    \"message\": \"NEEO-connection active\", \n                    \"displaytime\":5000\n                    },\n            \"id\": 98\n            }\n        }\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":640,
      "y":180,
      "wires":[
         [
            "c6f20bac.b162a8"
         ]
      ]
   },
   {
      "id":"58a6298c.dcdcd",
      "type":"websocket-client",
      "path":"ws://192.168.0.46:9090",
      "tls":"",
      "wholemsg":"false"
   },
   {
      "id":"920bfa37.0c7b9",
      "type":"mqtt-broker",
      "name":"Spare neeo brain",
      "broker":"192.168.0.31",
      "port":"1883",
      "clientid":"",
      "usetls":false,
      "compatmode":false,
      "keepalive":"60",
      "cleansession":true,
      "birthTopic":"",
      "birthQos":"0",
      "birthPayload":"",
      "closeTopic":"",
      "closeQos":"0",
      "closePayload":"",
      "willTopic":"",
      "willQos":"0",
      "willPayload":""
   }
]