node-red Flow/Kodi-nodered.json
[
    {
       "id":"dfb6ebd2.4aa9e8",
       "type":"tab",
       "label":"Kodi",
       "disabled":false,
       "info":""
    },
    {
       "id":"6f34f4c4.130774",
       "type":"debug",
       "z":"dfb6ebd2.4aa9e8",
       "name":"Debug",
       "active":true,
       "tosidebar":true,
       "console":false,
       "tostatus":false,
       "complete":"true",
       "targetType":"full",
       "statusVal":"",
       "statusType":"auto",
       "x":1030,
       "y":100,
       "wires":[
          
       ]
    },
    {
       "id":"8721f806.53c708",
       "type":"function",
       "z":"dfb6ebd2.4aa9e8",
       "name":"Play/Pause",
       "func":"var MyPlayerID=global.get('MyPlayerId') || 9; \n\nif ((MyPlayerID == 0) || (MyPlayerID == 9 ) )\n    {return{ \n        url: msg.url,\n       \"payload\":   \n            {\"jsonrpc\": \"2.0\", \"id\": 1, \"method\": \"Input.select\"\n            }\n        }\n    }\nelse\n    return {\n        url: msg.url,\n        \"payload\":   \n            {\"jsonrpc\": \"2.0\", \n            \"id\": 1, \n            \"method\": \"Player.PlayPause\",\n            params: {\"playerid\": MyPlayerID}  \n            },\"playerid\": MyPlayerID   \n       }\n",
       "outputs":1,
       "noerr":0,
       "initialize":"",
       "finalize":"",
       "x":590,
       "y":500,
       "wires":[
          [
             "6f34f4c4.130774",
             "b2b765f8.f317e",
             "b83d99be.d955d8"
          ]
       ]
    },
    {
       "id":"b4f23977.40f6c",
       "type":"function",
       "z":"dfb6ebd2.4aa9e8",
       "name":"Cursor navigate",
       "func":"MyDirection=msg.button.slice(7,99)\nMyDirection = MyDirection.toLowerCase()\nvar MyPlayerID=global.get('MyPlayerID') || 9; \nif (MyDirection == \"enter\" )  \n    {MyDirection = \"select\"\n    if ((MyPlayerID == 0) || (MyPlayerID == 9 ) )\n       return {\n       url: msg.url,\n       \"payload\":   \n       {\"jsonrpc\": \"2.0\", \"id\": 1, \n       \"method\": \"Input.\"+MyDirection},MyPlayerID: MyPlayerID,\n    }\n    else\n        { return {\n            url: msg.url,\n            \"payload\":   \n        {\"jsonrpc\": \"2.0\", \"id\": 1, \"method\": \"Player.PlayPause\",\n        params: {\"playerid\": MyPlayerID}  }}\n        }\n    }\nelse\n    return {\n    url: msg.url,\n    \"payload\":   \n      {\"jsonrpc\": \"2.0\", \"id\": 1, \n      \"method\": \"Input.\"+MyDirection}, MyPlayerID: MyPlayerID,\n      }\n",
       "outputs":1,
       "noerr":0,
       "initialize":"",
       "finalize":"",
       "x":600,
       "y":580,
       "wires":[
          [
             "b2b765f8.f317e",
             "b83d99be.d955d8"
          ]
       ]
    },
    {
       "id":"2ff5858c.35db52",
       "type":"function",
       "z":"dfb6ebd2.4aa9e8",
       "name":"Stop",
       "func":"var MyPlayerID=global.get('MyPlayerId') || 9; \n\nreturn {\n    url: msg.url,\n    \"payload\":   \n    {\"jsonrpc\": \"2.0\", \"id\": 1, \"method\": \"Player.Stop\",\n    params: {\"playerid\": MyPlayerID}\n    }\n};",
       "outputs":1,
       "noerr":0,
       "initialize":"",
       "finalize":"",
       "x":570,
       "y":540,
       "wires":[
          [
             "b2b765f8.f317e",
             "b83d99be.d955d8"
          ]
       ]
    },
    {
       "id":"3f02b372.fcf894",
       "type":"function",
       "z":"dfb6ebd2.4aa9e8",
       "name":"SetVolume ",
       "func":"\n    if (msg.button == \"VOLUME UP\" ) \n       {MyDirection=\"increment\"\n       }\n      else\n       {MyDirection=\"decrement\"         \n        }\n\n    return {\n    url: msg.url,\n    \"payload\":   \n        {\"jsonrpc\": \"2.0\", \"id\": 1, \"method\": \"Application.SetVolume\",\n          \"params\" :{\"volume\":MyDirection}         \n         }    \n};",
       "outputs":1,
       "noerr":0,
       "initialize":"",
       "finalize":"",
       "x":590,
       "y":660,
       "wires":[
          [
             "b2b765f8.f317e",
             "b83d99be.d955d8",
             "6f34f4c4.130774"
          ]
       ]
    },
    {
       "id":"52a9d032.6f025",
       "type":"function",
       "z":"dfb6ebd2.4aa9e8",
       "name":"SetSubtitle",
       "func":"return {\n    url: msg.url,\n    \"payload\":   \n    {\"jsonrpc\": \"2.0\", \"id\": 1, \"method\": \"GUI.ActivateWindow\",\n    params: {\"window\": \"subtitlesearch\"}\n\n    \n    }\n};\n",
       "outputs":1,
       "noerr":0,
       "initialize":"",
       "finalize":"",
       "x":590,
       "y":820,
       "wires":[
          [
             "b83d99be.d955d8"
          ]
       ]
    },
    {
       "id":"a497692b.d42e8",
       "type":"inject",
       "z":"dfb6ebd2.4aa9e8",
       "name":"Poll system",
       "props":[
          {
             "p":"payload"
          },
          {
             "p":"topic",
             "vt":"str"
          }
       ],
       "repeat":"60",
       "crontab":"",
       "once":true,
       "onceDelay":0.1,
       "topic":"",
       "payload":"",
       "payloadType":"date",
       "x":130,
       "y":440,
       "wires":[
          [
             "6b0ced44.395404"
          ]
       ]
    },
    {
       "id":"6b0ced44.395404",
       "type":"function",
       "z":"dfb6ebd2.4aa9e8",
       "name":"Get Activeplayer",
       "func":"var KodiStarted=global.get('KodiStarted') || \"NO\"\nvar MyPlayerID=global.get('MyPlayerID') || 0;\n\nreturn {\n    url: msg.url,\n    \"payload\":  \n   {\"jsonrpc\": \"2.0\", \n    \"method\": \"Player.GetActivePlayers\", \n    \"id\": 99},\n    KodiStarted: KodiStarted\n}",
       "outputs":1,
       "noerr":0,
       "initialize":"",
       "finalize":"",
       "x":400,
       "y":440,
       "wires":[
          [
             "96877122.c8e228"
          ]
       ]
    },
    {
       "id":"4e37b07e.0f20a8",
       "type":"mqtt in",
       "z":"dfb6ebd2.4aa9e8",
       "name":"MQTT-Meta",
       "topic":"meta/KODI/#",
       "qos":"2",
       "datatype":"auto",
       "broker":"920bfa37.0c7b9",
       "x":110,
       "y":560,
       "wires":[
          [
             "401c513f.78ea78",
             "60bfaa46.9ad884"
          ]
       ]
    },
    {
       "id":"401c513f.78ea78",
       "type":"function",
       "z":"dfb6ebd2.4aa9e8",
       "name":"Isolate button",
       "func":"// meta/Kodi player/default/button/POWER ON \n// 123456789A123456789B123456789C123456789D123456789E\n// meta/Samsung TV 2012/default/button/CURSOR ENTER\n// 123456789A123456789B123456789C123456789D123456789E     \n\nvar output = msg.topic.split(\"/\");\nvar name_meta = output[0];\nvar recipe = output[1];\nvar deviceid = output[2];\nvar command_type = output[3]; \nvar button = output[4];\nvar ipdata = deviceid.split(\":\")\n\nvar ip = ipdata[0]\nvar port = 8080 ; // ipdata[1]\n\nvar url = \"http://\"+ip+\":\"+port+\"/jsonrpc?request=\"\n\nreturn {\n      button: button,\n      ip: ip, port: port,\n      url: url\n}",
       "outputs":1,
       "noerr":0,
       "initialize":"",
       "finalize":"",
       "x":200,
       "y":640,
       "wires":[
          [
             "34a9036f.93ff04"
          ]
       ]
    },
    {
       "id":"34a9036f.93ff04",
       "type":"switch",
       "z":"dfb6ebd2.4aa9e8",
       "name":"Switch input",
       "property":"button",
       "propertyType":"msg",
       "rules":[
          {
             "t":"cont",
             "v":"PLAY",
             "vt":"str"
          },
          {
             "t":"cont",
             "v":"PAUSE",
             "vt":"str"
          },
          {
             "t":"cont",
             "v":"STOP",
             "vt":"str"
          },
          {
             "t":"cont",
             "v":"CURSOR",
             "vt":"str"
          },
          {
             "t":"cont",
             "v":"PAGE",
             "vt":"str"
          },
          {
             "t":"cont",
             "v":"VOLUME",
             "vt":"str"
          },
          {
             "t":"cont",
             "v":"MENU",
             "vt":"str"
          },
          {
             "t":"cont",
             "v":"CHANNEL",
             "vt":"str"
          },
          {
             "t":"cont",
             "v":"BACK",
             "vt":"str"
          },
          {
             "t":"cont",
             "v":"SUBTITLE",
             "vt":"str"
          },
          {
             "t":"cont",
             "v":"LANGUAGE",
             "vt":"str"
          },
          {
             "t":"cont",
             "v":"POWER",
             "vt":"str"
          },
          {
             "t":"cont",
             "v":"OSD",
             "vt":"str"
          }
       ],
       "checkall":"true",
       "repair":false,
       "outputs":13,
       "x":370,
       "y":640,
       "wires":[
          [
             "8721f806.53c708"
          ],
          [
             "8721f806.53c708"
          ],
          [
             "2ff5858c.35db52"
          ],
          [
             "b4f23977.40f6c"
          ],
          [
             "704ba054.06d38"
          ],
          [
             "3f02b372.fcf894"
          ],
          [
             "8c3daa9d.293a38"
          ],
          [
             "b78eaef7.6e891"
          ],
          [
             "2737b819.39d6a"
          ],
          [
             "52a9d032.6f025"
          ],
          [
             "3ba6d0c5.3f8868"
          ],
          [
             "7130a64a.e2b518"
          ],
          [
             "66ed643.43adf1c",
             "1e72263c.94bbea"
          ]
       ]
    },
    {
       "id":"c97eb64a.b378f8",
       "type":"switch",
       "z":"dfb6ebd2.4aa9e8",
       "name":"Switch kodi-response",
       "property":"payload",
       "propertyType":"msg",
       "rules":[
          {
             "t":"cont",
             "v":"{\"id\":99",
             "vt":"str"
          },
          {
             "t":"cont",
             "v":"method\":\"Player.OnPlay\"",
             "vt":"str"
          },
          {
             "t":"cont",
             "v":"method\":\"Player.OnStop\"",
             "vt":"str"
          },
          {
             "t":"cont",
             "v":"method\":\"Player.OnPause\"",
             "vt":"str"
          },
          {
             "t":"cont",
             "v":"\"method\":\"System.OnQuit\"",
             "vt":"str"
          },
          {
             "t":"cont",
             "v":"{\"id\":\"TVShowLibrary\"",
             "vt":"str"
          },
          {
             "t":"cont",
             "v":"{\"id\":\"MovieLibrary\"",
             "vt":"str"
          },
          {
             "t":"cont",
             "v":"{\"id\":\"MusicArtistLibrary\"",
             "vt":"str"
          },
          {
             "t":"cont",
             "v":"\"result\":\"OK\"",
             "vt":"str"
          },
          {
             "t":"else"
          }
       ],
       "checkall":"false",
       "repair":false,
       "outputs":10,
       "x":200,
       "y":220,
       "wires":[
          [
             "97cfb1eb.449ac"
          ],
          [
             "46e8a4b3.e1db04"
          ],
          [
             "46e8a4b3.e1db04"
          ],
          [
             "d3e59bc8.fa0c38"
          ],
          [
             "afc7e286.00bb"
          ],
          [
             "35bfe89a.cb1b78"
          ],
          [
             "114dceae.ceafb9",
             "b2b765f8.f317e"
          ],
          [
             "2c196208.c41586"
          ],
          [
             "3906602a.fbe15"
          ],
          [
             
          ]
       ]
    },
    {
       "id":"46e8a4b3.e1db04",
       "type":"function",
       "z":"dfb6ebd2.4aa9e8",
       "name":"Playstop/start",
       "func":"mystatus = JSON.parse(msg.payload) // playerid} \nMyEvent = mystatus.method\nMyPlayerID=1465\nglobal.set('KodiStarted',\"YES\");\n\nif (MyEvent == \"Player.OnStop\") {\n   IsActive = false \n   MyPlayerID = 0\n   global.set('MyPlayerID',0)\n   global.set('MySpeed',0);   \n   } \nelse {\n   IsActive = true\n   MyPlayerID = mystatus.params.data.player.playerid\n   global.set('MyPlayerID',MyPlayerID);\n   MySpeed = mystatus.params.data.player.speed\n   global.set('MySpeed',MySpeed);\n  }\n\nreturn null\nreturn {\n   payload: {mystatus: mystatus, MyEvent: MyEvent, myfield: IsActive , MyPlayerID: MyPlayerID}\n    }\n    ",
       "outputs":1,
       "noerr":0,
       "initialize":"",
       "finalize":"",
       "x":620,
       "y":140,
       "wires":[
          [
             "a724a64e.7673d8"
          ]
       ]
    },
    {
       "id":"97cfb1eb.449ac",
       "type":"function",
       "z":"dfb6ebd2.4aa9e8",
       "name":"CheckIsPlaying",
       "func":"mystatus = JSON.parse(msg.payload) // playerid} \nMyPlayer = mystatus.result\nif (mystatus.result === undefined)\n   return\n \nglobal.set('KodiStarted',\"YES\");\nIsActive = false\nfor(var i in MyPlayer) {\n       IsActive = true;\n   }\n\nglobal.set('IsPlaying',IsActive);\nif (IsActive == true)\n   {NowPlayerID = mystatus.result[0].playerid\n   global.set('MyPlayerID',NowPlayerID);\n  }\nelse\n  {NowPlayerID = 0\n  global.set('MyPlayerID',0)\n  }\n\nreturn {\n   MyStatus: IsActive,\n   payload: mystatus,\n   MyPlayerID: NowPlayerID\n    }",
       "outputs":1,
       "noerr":0,
       "initialize":"",
       "finalize":"",
       "x":620,
       "y":100,
       "wires":[
          [
             "6f34f4c4.130774"
          ]
       ]
    },
    {
       "id":"2737b819.39d6a",
       "type":"function",
       "z":"dfb6ebd2.4aa9e8",
       "name":"Back",
       "func":"return {\n    url: msg.url,\n    \"payload\":   \n    {\"jsonrpc\": \"2.0\", \"id\": 1, \"method\": \"Input.back\"\n    \n    }\n};",
       "outputs":1,
       "noerr":0,
       "initialize":"",
       "finalize":"",
       "x":570,
       "y":780,
       "wires":[
          [
             "b83d99be.d955d8"
          ]
       ]
    },
    {
       "id":"8c3daa9d.293a38",
       "type":"function",
       "z":"dfb6ebd2.4aa9e8",
       "name":"Menu",
       "func":"\nvar IsPlayerActive=flow.get('IsPlaying') || false;\n\nif (IsPlayerActive)\n    return {\n    url: msg.url,\n    \"payload\":   \n    {\"jsonrpc\": \"2.0\", \"id\": 1, \"method\": \"Input.ShowOSD\"  }\n    }\nelse\n    return {\n    url: msg.url,\n    \"payload\":   \n    {\"jsonrpc\": \"2.0\", \"id\": 1, \"method\": \"Input.ContextMenu\"}\n    }\n;\n",
       "outputs":1,
       "noerr":0,
       "initialize":"",
       "finalize":"",
       "x":570,
       "y":700,
       "wires":[
          [
             "b2b765f8.f317e",
             "b83d99be.d955d8"
          ]
       ]
    },
    {
       "id":"704ba054.06d38",
       "type":"function",
       "z":"dfb6ebd2.4aa9e8",
       "name":"Page",
       "func":"MyDirection=msg.button.slice(5,99)\nMyDirection = MyDirection.toLowerCase()\n\nreturn {\n    url: msg.url,\n    \"payload\":   \n    {\"jsonrpc\": \"2.0\", \"id\": 1, \"method\": \"Input.ExecuteAction\", \n     \"params\": { \"action\": \"page\"+MyDirection }  \n    }\n};\n",
       "outputs":1,
       "noerr":0,
       "initialize":"",
       "finalize":"",
       "x":570,
       "y":620,
       "wires":[
          [
             "b2b765f8.f317e"
          ]
       ]
    },
    {
       "id":"b78eaef7.6e891",
       "type":"function",
       "z":"dfb6ebd2.4aa9e8",
       "name":"Channel",
       "func":"MyDirection=msg.button.slice(8,99)\nMyDirection = MyDirection.toLowerCase()\n\nreturn {\n    url: msg.url,\n    \"payload\":   \n    {\"jsonrpc\": \"2.0\", \"id\": 1, \"method\": \"Input.ExecuteAction\", \n     \"params\": { \"action\": \"page\"+MyDirection }  \n    }\n};",
       "outputs":1,
       "noerr":0,
       "initialize":"",
       "finalize":"",
       "x":580,
       "y":740,
       "wires":[
          [
             "b83d99be.d955d8"
          ]
       ]
    },
    {
       "id":"7130a64a.e2b518",
       "type":"function",
       "z":"dfb6ebd2.4aa9e8",
       "name":"Power",
       "func":"MyPower=msg.button.slice(6,99)\nMyPower = MyPower.toLowerCase()\nif (MyPower == \"off\" )\n   return {\n       url: msg.url,\n       \"payload\":   \n       {\"jsonrpc\": \"2.0\", \"id\": 1, \"method\": \"GUI.ActivateWindow\",\n       params: {\"window\": \"shutdownmenu\"}\n       }\n   }\nelse\n   return {\n   url: msg.url,\n    \"payload\":  \n      {\"jsonrpc\": \"2.0\", \"method\": \"GUI.ShowNotification\", \"params\": \n         {\"title\": \"NEEO-Metadriver\", \n         \"message\": \"NEEO-connection active\", \n             \"displaytime\":'\"5000\"'\n         },\n      \"id\": 1}\n   }\n\n",
       "outputs":1,
       "noerr":0,
       "initialize":"",
       "finalize":"",
       "x":570,
       "y":900,
       "wires":[
          [
             "b2b765f8.f317e"
          ]
       ]
    },
    {
       "id":"3ba6d0c5.3f8868",
       "type":"function",
       "z":"dfb6ebd2.4aa9e8",
       "name":"SUb-Sync",
       "func":"\nvar IsPlayerActive=flow.get('IsPlaying') || false;\n\nif (IsPlayerActive)\n    return {\n       url: msg.url,\n      \"payload\":   \n      {\"jsonrpc\": \"2.0\", \"id\": 1, \"method\": \"GUI.ActivateWindow\",\n      params: {\"window\":\"subtitlesearch\"}\n      }    \n    }\nelse\n    return {\n    url: msg.url,\n    \"payload\":   \n    {\"jsonrpc\": \"2.0\", \"id\": 1, \"method\": \"Input.ContextMenu\"}\n    }\n;\n\n",
       "outputs":1,
       "noerr":0,
       "initialize":"",
       "finalize":"",
       "x":590,
       "y":860,
       "wires":[
          [
             "b83d99be.d955d8"
          ]
       ]
    },
    {
       "id":"afc7e286.00bb",
       "type":"function",
       "z":"dfb6ebd2.4aa9e8",
       "name":"Kodi stopped",
       "func":"global.set('KodiStarted',\"NO\");\nglobal.set('MyPlayerID',0)\nreturn null\n//{ payload:  \"Kodi stopped\"} ",
       "outputs":1,
       "noerr":0,
       "initialize":"",
       "finalize":"",
       "x":620,
       "y":220,
       "wires":[
          [
             "f7b0b1a6.884e58"
          ]
       ]
    },
    {
       "id":"96877122.c8e228",
       "type":"switch",
       "z":"dfb6ebd2.4aa9e8",
       "name":"Poll only if kodi-is active",
       "property":"KodiStarted",
       "propertyType":"msg",
       "rules":[
          {
             "t":"eq",
             "v":"YES",
             "vt":"str"
          }
       ],
       "checkall":"true",
       "repair":false,
       "outputs":1,
       "x":690,
       "y":440,
       "wires":[
          [
             "6f34f4c4.130774",
             "b83d99be.d955d8"
          ]
       ]
    },
    {
       "id":"3906602a.fbe15",
       "type":"function",
       "z":"dfb6ebd2.4aa9e8",
       "name":"OK-message-KODI",
       "func":"var KodiStarted=global.get('KodiStarted') || \"NO\"\nif (KodiStarted==\"YES\") // we were alreay up\n    {return null\n    }\nglobal.set('KodiStarted',\"YES\");\n\nreturn {\n        url: msg.url,\n        \"payload\":  \n            {\"jsonrpc\": \"2.0\", \"method\": \"GUI.ShowNotification\", \n                \"params\": \n                    {\"title\": \"NEEO-Metadriver\", \n                    \"message\": \"NEEO-connection active\", \n                    \"displaytime\":5000\n                    },\n            \"id\": 98\n            }\n        }\n",
       "outputs":1,
       "noerr":0,
       "initialize":"",
       "finalize":"",
       "x":630,
       "y":260,
       "wires":[
          [
             "fed5d7c9.87495",
             "b2b765f8.f317e"
          ]
       ]
    },
    {
       "id":"fed5d7c9.87495",
       "type":"debug",
       "z":"dfb6ebd2.4aa9e8",
       "name":"OK",
       "active":true,
       "tosidebar":true,
       "console":false,
       "tostatus":false,
       "complete":"true",
       "targetType":"full",
       "statusVal":"",
       "statusType":"auto",
       "x":1030,
       "y":260,
       "wires":[
          
       ]
    },
    {
       "id":"b2b765f8.f317e",
       "type":"debug",
       "z":"dfb6ebd2.4aa9e8",
       "name":"Debug button convert",
       "active":true,
       "tosidebar":true,
       "console":false,
       "tostatus":false,
       "complete":"true",
       "targetType":"full",
       "statusVal":"",
       "statusType":"auto",
       "x":1100,
       "y":860,
       "wires":[
          
       ]
    },
    {
       "id":"a724a64e.7673d8",
       "type":"debug",
       "z":"dfb6ebd2.4aa9e8",
       "name":"play stop/start",
       "active":true,
       "tosidebar":true,
       "console":false,
       "tostatus":false,
       "complete":"payload",
       "targetType":"msg",
       "statusVal":"",
       "statusType":"auto",
       "x":1060,
       "y":140,
       "wires":[
          
       ]
    },
    {
       "id":"f7b0b1a6.884e58",
       "type":"debug",
       "z":"dfb6ebd2.4aa9e8",
       "name":"Kodi stopped",
       "active":true,
       "tosidebar":true,
       "console":false,
       "tostatus":false,
       "complete":"payload",
       "targetType":"msg",
       "statusVal":"",
       "statusType":"auto",
       "x":1060,
       "y":220,
       "wires":[
          
       ]
    },
    {
       "id":"d3e59bc8.fa0c38",
       "type":"function",
       "z":"dfb6ebd2.4aa9e8",
       "name":"Pause",
       "func":"mystatus = JSON.parse(msg.payload) // playerid} \nMyEvent = mystatus.method\nMyPlayerID=1465\nglobal.set('KodiStarted',\"YES\");\n\n   IsActive = true\n   MyPlayerID = mystatus.params.data.player.playerid\n   MySpeed = mystatus.params.data.player.speed\n   global.set('MyPlayerID',MyPlayerID);\n   global.set('MySpeed',MySpeed);\n\nreturn null\n",
       "outputs":1,
       "noerr":0,
       "initialize":"",
       "finalize":"",
       "x":590,
       "y":180,
       "wires":[
          [
             
          ]
       ]
    },
    {
       "id":"66ed643.43adf1c",
       "type":"debug",
       "z":"dfb6ebd2.4aa9e8",
       "name":"debug meta",
       "active":true,
       "tosidebar":true,
       "console":false,
       "tostatus":false,
       "complete":"true",
       "targetType":"full",
       "statusVal":"",
       "statusType":"auto",
       "x":330,
       "y":920,
       "wires":[
          
       ]
    },
    {
       "id":"1e72263c.94bbea",
       "type":"function",
       "z":"dfb6ebd2.4aa9e8",
       "name":"GET-TVLibrary",
       "func":"var KodiStarted=global.get('KodiStarted') || \"NO\"\nvar MyPlayerID=global.get('MyPlayerID') || 0;\n\nreturn {\n    url: msg.url,\n    \"payload\":  \n   {\"jsonrpc\": \"2.0\", \n    \"method\": \"VideoLibrary.GetTVShows\", \n    \"id\": \"TVShowLibrary\"},\n    KodiStarted: KodiStarted\n}",
       "outputs":1,
       "noerr":0,
       "initialize":"",
       "finalize":"",
       "x":600,
       "y":960,
       "wires":[
          [
             "66ed643.43adf1c",
             "b83d99be.d955d8"
          ]
       ]
    },
    {
       "id":"35bfe89a.cb1b78",
       "type":"function",
       "z":"dfb6ebd2.4aa9e8",
       "name":"Get TVSHows",
       "func":"myJSON = JSON.parse(msg.payload) // playerid} \n\nreturn { \n    topic: \"Kodi/TVShows\",\n    payload: myJSON}\nvar m_out=[]; //Array for message objects\n\nfor (var TVShow of myJSON.result.tvshows) {\n   var message=TVShow\n   var topic = \"Kodi/TVShows\"\n    var newmsg={payload:message,topic:topic}\n    m_out.push(newmsg);    \n}\nreturn[m_out];\n    ",
       "outputs":1,
       "noerr":0,
       "initialize":"",
       "finalize":"",
       "x":620,
       "y":320,
       "wires":[
          [
             "293597b9.6d1fe",
             "4e69120b.a363b4"
          ]
       ]
    },
    {
       "id":"293597b9.6d1fe",
       "type":"debug",
       "z":"dfb6ebd2.4aa9e8",
       "name":"Parsed TVSHow",
       "active":true,
       "tosidebar":true,
       "console":false,
       "tostatus":false,
       "complete":"true",
       "targetType":"full",
       "statusVal":"",
       "statusType":"auto",
       "x":1060,
       "y":320,
       "wires":[
          
       ]
    },
    {
       "id":"4e69120b.a363b4",
       "type":"mqtt out",
       "z":"dfb6ebd2.4aa9e8",
       "name":"MQTT-out",
       "topic":"",
       "qos":"",
       "retain":"",
       "broker":"920bfa37.0c7b9",
       "x":1040,
       "y":460,
       "wires":[
          
       ]
    },
    {
       "id":"c92feb54.77063",
       "type":"mqtt in",
       "z":"dfb6ebd2.4aa9e8",
       "name":"",
       "topic":"Kodi/#",
       "qos":"2",
       "datatype":"auto",
       "broker":"920bfa37.0c7b9",
       "x":120,
       "y":740,
       "wires":[
          [
             "73cc2ddf.9a882c"
          ]
       ]
    },
    {
       "id":"73cc2ddf.9a882c",
       "type":"debug",
       "z":"dfb6ebd2.4aa9e8",
       "name":"Received in META",
       "active":true,
       "tosidebar":true,
       "console":false,
       "tostatus":false,
       "complete":"true",
       "targetType":"full",
       "statusVal":"",
       "statusType":"auto",
       "x":210,
       "y":820,
       "wires":[
          
       ]
    },
    {
       "id":"114dceae.ceafb9",
       "type":"function",
       "z":"dfb6ebd2.4aa9e8",
       "name":"Get Movies",
       "func":"myJSON = JSON.parse(msg.payload) // playerid} \n\n\nreturn {\n    payload: myJSON\n}\nvar m_out=[]; //Array for message objects\n\nfor (var Movie of myJSON.result.movies) {\n   var message=Movie\n   var topic = \"Kodi/Movies\"\n    var newmsg={payload:message,topic:topic}\n    m_out.push(newmsg);    \n}\nreturn[m_out];\n",
       "outputs":1,
       "noerr":0,
       "initialize":"",
       "finalize":"",
       "x":615.5,
       "y":361,
       "wires":[
          [
             "62c9ac85.1f2c4c",
             "4e69120b.a363b4"
          ]
       ]
    },
    {
       "id":"8e0346ce.7ae05",
       "type":"function",
       "z":"dfb6ebd2.4aa9e8",
       "name":"GET-MovieLibrary",
       "func":"var KodiStarted=global.get('KodiStarted') || \"NO\"\nvar MyPlayerID=global.get('MyPlayerID') || 0;\n\nreturn {\n    url: msg.url,\n    \"payload\":  \n   {\"jsonrpc\": \"2.0\", \n    \"method\": \"VideoLibrary.GetMovies\", \n    \"id\": \"MovieLibrary\"},\n    KodiStarted: KodiStarted\n}",
       "outputs":1,
       "noerr":0,
       "initialize":"",
       "finalize":"",
       "x":610,
       "y":1000,
       "wires":[
          [
             "b2b765f8.f317e",
             "66ed643.43adf1c",
             "b83d99be.d955d8"
          ]
       ]
    },
    {
       "id":"62c9ac85.1f2c4c",
       "type":"debug",
       "z":"dfb6ebd2.4aa9e8",
       "name":"Parsed Movielist",
       "active":true,
       "tosidebar":true,
       "console":false,
       "tostatus":false,
       "complete":"true",
       "targetType":"full",
       "statusVal":"",
       "statusType":"auto",
       "x":1060,
       "y":360,
       "wires":[
          
       ]
    },
    {
       "id":"2c196208.c41586",
       "type":"function",
       "z":"dfb6ebd2.4aa9e8",
       "name":"Get MusicArtists",
       "func":"myJSON = JSON.parse(msg.payload) // playerid} \n\nreturn {\n        payload: myJSON\n}\n\n\nvar m_out=[]; //Array for message objects\n\nfor (var Artist of myJSON.result.artists) {\n   var message=Artist\n   var topic = \"Kodi/MusicArtists\"\n    var newmsg={payload:message,topic:topic}\n    m_out.push(newmsg);    \n}\nreturn[m_out];",
       "outputs":1,
       "noerr":0,
       "initialize":"",
       "finalize":"",
       "x":640,
       "y":400,
       "wires":[
          [
             "4e69120b.a363b4",
             "613e6a4f.c1accc"
          ]
       ]
    },
    {
       "id":"8ac2a813.fbc7c8",
       "type":"function",
       "z":"dfb6ebd2.4aa9e8",
       "name":"GET-MusicArtistLibrary",
       "func":"var KodiStarted=global.get('KodiStarted') || \"NO\"\nvar MyPlayerID=global.get('MyPlayerID') || 0;\n\nreturn {\n    url: msg.url,\n    \"payload\":  \n   {\"jsonrpc\": \"2.0\", \n    \"method\": \"AudioLibrary.GetArtists\", \n    \"id\": \"MusicArtistLibrary\"},\n    KodiStarted: KodiStarted\n}",
       "outputs":1,
       "noerr":0,
       "initialize":"",
       "finalize":"",
       "x":630,
       "y":1040,
       "wires":[
          [
             "66ed643.43adf1c",
             "b83d99be.d955d8"
          ]
       ]
    },
    {
       "id":"613e6a4f.c1accc",
       "type":"debug",
       "z":"dfb6ebd2.4aa9e8",
       "name":"Parsed MusiclLst",
       "active":true,
       "tosidebar":true,
       "console":false,
       "tostatus":false,
       "complete":"true",
       "targetType":"full",
       "statusVal":"",
       "statusType":"auto",
       "x":1070,
       "y":400,
       "wires":[
          
       ]
    },
    {
       "id":"b83d99be.d955d8",
       "type":"http request",
       "z":"dfb6ebd2.4aa9e8",
       "name":"To KODI",
       "method":"POST",
       "ret":"txt",
       "paytoqs":"ignore",
       "url":"",
       "tls":"",
       "persist":false,
       "proxy":"",
       "authType":"",
       "x":1050,
       "y":700,
       "wires":[
          [
             "5e87f14c.4c0e5",
             "c97eb64a.b378f8"
          ]
       ]
    },
    {
       "id":"5e87f14c.4c0e5",
       "type":"debug",
       "z":"dfb6ebd2.4aa9e8",
       "name":"KODI-Response",
       "active":true,
       "tosidebar":true,
       "console":false,
       "tostatus":false,
       "complete":"payload",
       "targetType":"msg",
       "statusVal":"",
       "statusType":"auto",
       "x":1110,
       "y":800,
       "wires":[
          
       ]
    },
    {
       "id":"9fb08f49.9da16",
       "type":"inject",
       "z":"dfb6ebd2.4aa9e8",
       "name":"",
       "props":[
          {
             "p":"payload"
          },
          {
             "p":"url",
             "v":"http://192.168.0.50:8080/jsonrpc?request=",
             "vt":"str"
          }
       ],
       "repeat":"",
       "crontab":"",
       "once":false,
       "onceDelay":0.1,
       "topic":"",
       "payload":"",
       "payloadType":"date",
       "x":180,
       "y":1020,
       "wires":[
          [
             "1e72263c.94bbea"
          ]
       ]
    },
    {
       "id":"60bfaa46.9ad884",
       "type":"debug",
       "z":"dfb6ebd2.4aa9e8",
       "name":"",
       "active":true,
       "tosidebar":true,
       "console":false,
       "tostatus":false,
       "complete":"false",
       "statusVal":"",
       "statusType":"auto",
       "x":260,
       "y":540,
       "wires":[
          
       ]
    },
    {
       "id":"920bfa37.0c7b9",
       "type":"mqtt-broker",
       "name":"Prod neeo brain",
       "broker":"127.0.0.1",
       "port":"1883",
       "clientid":"",
       "usetls":false,
       "compatmode":false,
       "keepalive":"60",
       "cleansession":true,
       "birthTopic":"",
       "birthQos":"0",
       "birthPayload":"",
       "closeTopic":"",
       "closeQos":"0",
       "closePayload":"",
       "willTopic":"",
       "willQos":"0",
       "willPayload":""
    }
 ]