node-red Flow/Kodi-nodered.json
[
   {
      "id":"bbca45a7.a7fce8",
      "type":"tab",
      "label":"Kodi",
      "disabled":false,
      "info":""
   },
   {
      "id":"8d95652b.f434c",
      "type":"function",
      "z":"bbca45a7.a7fce8",
      "name":"Play/Pause",
      "func":"if (msg.MyPlayerID != 0 )\n    return {\n        url: msg.url,\n        \"payload\":   \n            {\"jsonrpc\": \"2.0\", \n            \"id\": 1, \n            \"method\": \"Player.PlayPause\",\n            params: {\"playerid\": msg.MyPlayerID}  \n            },\"playerid\": msg.MyPlayerID   \n       }\nelse \n    return {\n           url: msg.url,\n           \"payload\":   \n               {\"jsonrpc\": \"2.0\", \n               \"id\": 1, \n               \"method\": \"input.select\"},\n            \"playerid\": msg.MyPlayerID  \n            }\n       ",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":890,
      "y":240,
      "wires":[
         [
            "9ac56e1b.0a2528"
         ]
      ]
   },
   {
      "id":"92ebb54b.5f44b8",
      "type":"function",
      "z":"bbca45a7.a7fce8",
      "name":"Cursor navigate",
      "func":"MyDirection=msg.button.slice(7,99)\nMyDirection = MyDirection.toLowerCase()\n\nif (MyDirection == \"enter\" )  \n    {MyDirection = \"select\"\n    if (msg.MyPlayerID == 0) \n       return {\n       url: msg.url,\n       \"payload\":   \n       {\"jsonrpc\": \"2.0\", \"id\": 1, \n       \"method\": \"Input.\"+MyDirection},MyPlayerID: msg.MyPlayerID,\n    }\n    else\n        { return {\n            url: msg.url,\n            \"payload\":   \n        {\"jsonrpc\": \"2.0\", \"id\": 1, \"method\": \"Player.PlayPause\",\n        params: {\"playerid\": msg.MyPlayerID}  }}\n        }\n    }\nelse\n    return {\n    url: msg.url,\n    \"payload\":   \n      {\"jsonrpc\": \"2.0\", \"id\": 1, \n      \"method\": \"Input.\"+MyDirection}, MyPlayerID: msg.MyPlayerID,\n      }\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":900,
      "y":320,
      "wires":[
         [
            "9ac56e1b.0a2528"
         ]
      ]
   },
   {
      "id":"7c7fd2d7.e246d4",
      "type":"function",
      "z":"bbca45a7.a7fce8",
      "name":"Stop",
      "func":"var MyPlayerID = 0\nvar IsActive = true\n\nglobal.set('IsPlaying',false);\nglobal.set('IsActive',IsActive);\nglobal.set('MPlayerID'),MyPlayerID\n\nreturn {\n    url: msg.url,\n    \"payload\":  \n    {\"jsonrpc\": \"2.0\", \"id\": 1, \"method\": \"Player.Stop\",\n    params: {\"playerid\": msg.MyPlayerID}\n    }\n};",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":870,
      "y":280,
      "wires":[
         [
            "9ac56e1b.0a2528"
         ]
      ]
   },
   {
      "id":"3f86a5a6.a3bda2",
      "type":"function",
      "z":"bbca45a7.a7fce8",
      "name":"SetVolume ",
      "func":"\n    if (msg.button == \"VOLUME UP\" ) \n       {MyDirection=\"increment\"\n       }\n      else\n       {MyDirection=\"decrement\"         \n        }\n\n    return {\n    url: msg.url,\n    \"payload\":   \n        {\"jsonrpc\": \"2.0\", \"id\": 1, \"method\": \"Application.SetVolume\",\n          \"params\" :{\"volume\":MyDirection}         \n         }    \n};",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":890,
      "y":400,
      "wires":[
         [
            "9ac56e1b.0a2528"
         ]
      ]
   },
   {
      "id":"4ed1a42b.82c5bc",
      "type":"function",
      "z":"bbca45a7.a7fce8",
      "name":"SetSubtitle",
      "func":"return {\n    url: msg.url,\n    \"payload\":   \n    {\"jsonrpc\": \"2.0\", \"id\": 1, \"method\": \"GUI.ActivateWindow\",\n    params: {\"window\": \"subtitlesearch\"}\n\n    \n    }\n};\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":890,
      "y":560,
      "wires":[
         [
            "9ac56e1b.0a2528"
         ]
      ]
   },
   {
      "id":"36fc8f5f.d4f8f8",
      "type":"function",
      "z":"bbca45a7.a7fce8",
      "name":"Isolate button",
      "func":"// meta/Kodi player/default/button/POWER ON \n// 123456789A123456789B123456789C123456789D123456789E\n// meta/Samsung TV 2012/default/button/CURSOR ENTER\n// 123456789A123456789B123456789C123456789D123456789E     \n\nvar MyTopic = flow.get(\"MyTopic\")\n\nvar output = msg.topic.split(\"/\");\nvar name_meta = output[0];\nvar recipe = output[1];\nvar deviceid = output[2];\nvar command_type = output[3]; \nvar button = output[4];\nvar ipdata = deviceid.split(\":\")\n\nvar ip = ipdata[0]\nvar port = 8080 ; // ipdata[1]\n\nvar url = \"http://\"+ip+\":\"+port+\"/jsonrpc?request=\"\n\n\nreturn {MyPlayerID: msg.MyPlayerID,\n      button: button,\n      ip: ip, port: port,\n      url: url\n}",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":360,
      "y":480,
      "wires":[
         [
            "7cc2ada1.38aefc",
            "48327141.b4bc"
         ]
      ]
   },
   {
      "id":"7cc2ada1.38aefc",
      "type":"switch",
      "z":"bbca45a7.a7fce8",
      "name":"Switch input",
      "property":"button",
      "propertyType":"msg",
      "rules":[
         {
            "t":"cont",
            "v":"PLAY",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"PAUSE",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"STOP",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"CURSOR",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"PAGE",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"VOLUME",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"MENU",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"CHANNEL",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"BACK",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"SUBTITLE",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"LANGUAGE",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"POWER",
            "vt":"str"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":12,
      "x":550,
      "y":480,
      "wires":[
         [
            "8d95652b.f434c"
         ],
         [
            "8d95652b.f434c"
         ],
         [
            "7c7fd2d7.e246d4"
         ],
         [
            "92ebb54b.5f44b8"
         ],
         [
            "a447215.aa828e"
         ],
         [
            "3f86a5a6.a3bda2"
         ],
         [
            "53047c8b.f70314"
         ],
         [
            "f9ac4596.85db48"
         ],
         [
            "c2f5c31a.7fef7"
         ],
         [
            "4ed1a42b.82c5bc"
         ],
         [
            "85b6d2c3.921dd8"
         ],
         [
            "d89f4261.8bdce"
         ]
      ]
   },
   {
      "id":"c2fc9d7.357ed6",
      "type":"function",
      "z":"bbca45a7.a7fce8",
      "name":"CheckIsPlaying",
      "func":"mystatus = JSON.parse(msg.payload) // playerid} \nMyPlayer = mystatus.result\nvar MyTopic = flow.get(\"MyTopic\")\nif (mystatus.result === undefined)\n   return\n \nglobal.set('KodiStarted',\"YES\");\nIsActive = false\nfor(var i in MyPlayer) {\n       IsActive = true;\n   }\n\nglobal.set('IsPlaying',IsActive);\nif (IsActive == true)\n   {NowPlayerID = mystatus.result[0].playerid\n   global.set('MyPlayerID',NowPlayerID);\n  }\nelse\n  {NowPlayerID = 0\n  global.set('MyPlayerID',0)\n  }\n\nreturn {topic: MyTopic,\n   MyStatus: IsActive,\n   payload: mystatus,\n   MyPlayerID: NowPlayerID\n    }",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":140,
      "y":480,
      "wires":[
         [
            "36fc8f5f.d4f8f8"
         ]
      ]
   },
   {
      "id":"c2f5c31a.7fef7",
      "type":"function",
      "z":"bbca45a7.a7fce8",
      "name":"Back",
      "func":"return {\n    url: msg.url,\n    \"payload\":   \n    {\"jsonrpc\": \"2.0\", \"id\": 1, \"method\": \"Input.back\"\n    \n    }\n};",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":870,
      "y":520,
      "wires":[
         [
            "9ac56e1b.0a2528"
         ]
      ]
   },
   {
      "id":"53047c8b.f70314",
      "type":"function",
      "z":"bbca45a7.a7fce8",
      "name":"Menu",
      "func":"if (msg.MyPlayerID != 0) \n    return {\n    url: msg.url,\n    \"payload\":   \n    {\"jsonrpc\": \"2.0\", \"id\": 1, \"method\": \"Input.ShowOSD\"  }\n    }\nelse\n    return {\n    url: msg.url,\n    \"payload\":   \n    {\"jsonrpc\": \"2.0\", \"id\": 1, \"method\": \"Input.ContextMenu\"}\n    }\n;\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":870,
      "y":440,
      "wires":[
         [
            "9ac56e1b.0a2528"
         ]
      ]
   },
   {
      "id":"a447215.aa828e",
      "type":"function",
      "z":"bbca45a7.a7fce8",
      "name":"Page",
      "func":"MyDirection=msg.button.slice(5,99)\nMyDirection = MyDirection.toLowerCase()\n\nreturn {\n    url: msg.url,\n    \"payload\":   \n    {\"jsonrpc\": \"2.0\", \"id\": 1, \"method\": \"Input.ExecuteAction\", \n     \"params\": { \"action\": \"page\"+MyDirection }  \n    }\n};\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":870,
      "y":360,
      "wires":[
         [
            "9ac56e1b.0a2528"
         ]
      ]
   },
   {
      "id":"f9ac4596.85db48",
      "type":"function",
      "z":"bbca45a7.a7fce8",
      "name":"Channel",
      "func":"MyDirection=msg.button.slice(8,99)\nMyDirection = MyDirection.toLowerCase()\n\nreturn {\n    url: msg.url,\n    \"payload\":   \n    {\"jsonrpc\": \"2.0\", \"id\": 1, \"method\": \"Input.ExecuteAction\", \n     \"params\": { \"action\": \"page\"+MyDirection }  \n    }\n};",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":880,
      "y":480,
      "wires":[
         [
            "9ac56e1b.0a2528"
         ]
      ]
   },
   {
      "id":"d89f4261.8bdce",
      "type":"function",
      "z":"bbca45a7.a7fce8",
      "name":"Power",
      "func":"MyPower=msg.button.slice(6,99)\nMyPower = MyPower.toLowerCase()\nif (MyPower == \"off\" )\n   return {\n       url: msg.url,\n       \"payload\":   \n       {\"jsonrpc\": \"2.0\", \"id\": 1, \"method\": \"GUI.ActivateWindow\",\n       params: {\"window\": \"shutdownmenu\"}\n       }\n   }\nelse\n   return {\n   url: msg.url,\n    \"payload\":  \n      {\"jsonrpc\": \"2.0\", \"method\": \"GUI.ShowNotification\", \"params\": \n         {\"title\": \"NEEO-Metadriver\", \n         \"message\": \"NEEO-connection active\", \n             \"displaytime\":'\"5000\"'\n         },\n      \"id\": 1}\n   }\n\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":870,
      "y":640,
      "wires":[
         [
            "9ac56e1b.0a2528"
         ]
      ]
   },
   {
      "id":"85b6d2c3.921dd8",
      "type":"function",
      "z":"bbca45a7.a7fce8",
      "name":"SUb-Sync",
      "func":"\nvar IsPlayerActive=flow.get('IsPlaying') || false;\n\nif (IsPlayerActive)\n    return {\n       url: msg.url,\n      \"payload\":   \n      {\"jsonrpc\": \"2.0\", \"id\": 1, \"method\": \"GUI.ActivateWindow\",\n      params: {\"window\":\"subtitlesearch\"}\n      }    \n    }\nelse\n   return {url: msg.url,\n      payload: \n           {\"jsonrpc\": \"2.0\", \n          \"method\": \"Input.ExecuteAction\", \n          \"params\": \n            {\"action\": \"subtitledelay\"}, \n          \"id\": \"Sync\"}\n}\n\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":890,
      "y":600,
      "wires":[
         [
            "9ac56e1b.0a2528"
         ]
      ]
   },
   {
      "id":"9ac56e1b.0a2528",
      "type":"http request",
      "z":"bbca45a7.a7fce8",
      "name":"To KODI",
      "method":"POST",
      "ret":"txt",
      "paytoqs":"ignore",
      "url":"",
      "tls":"",
      "persist":false,
      "proxy":"",
      "authType":"",
      "x":1260,
      "y":480,
      "wires":[
         [
            "68ded9ff.9096f8"
         ]
      ]
   },
   {
      "id":"bfb06a6c.d7ef5",
      "type":"http request",
      "z":"bbca45a7.a7fce8",
      "name":"Check if playing ",
      "method":"POST",
      "ret":"txt",
      "paytoqs":"ignore",
      "url":"",
      "tls":"",
      "persist":false,
      "proxy":"",
      "authType":"",
      "x":140,
      "y":400,
      "wires":[
         [
            "c2fc9d7.357ed6"
         ]
      ]
   },
   {
      "id":"f00cabaa.520258",
      "type":"function",
      "z":"bbca45a7.a7fce8",
      "name":"GetActiverPlayerid",
      "func":"// meta/Kodi player/default/button/POWER ON \n// 123456789A123456789B123456789C123456789D123456789E\n// meta/Samsung TV 2012/default/button/CURSOR ENTER\n// 123456789A123456789B123456789C123456789D123456789E     \n\nflow.set(\"MyTopic\",msg.topic)\n\nvar output = msg.topic.split(\"/\");\nvar name_meta = output[0];\nvar recipe = output[1];\nvar deviceid = output[2];\nvar command_type = output[3]; \nvar button = output[4];\nvar ipdata = deviceid.split(\":\")\n\nvar ip = ipdata[0]\nvar port = 8080 ; // ipdata[1]\n\nvar url = \"http://\"+ip+\":\"+port+\"/jsonrpc?request=\"\nflow.set(\"url\",url); // Save the url we're working on\nflow.set(\"MyMsg\",msg.payload)\nvar MyTopic = context.get(\"MyTopic\")\n\nreturn {\n    url: url,\n    thetopic: MyTopic,\n    \"payload\":  \n   {\"jsonrpc\": \"2.0\", \n    \"method\": \"Player.GetActivePlayers\", \n    \"id\": 99}}",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":150,
      "y":320,
      "wires":[
         [
            "bfb06a6c.d7ef5"
         ]
      ]
   },
   {
      "id":"90854e26.39f558",
      "type":"mqtt in",
      "z":"bbca45a7.a7fce8",
      "name":"MQTT-Meta",
      "topic":"meta/KODI/#",
      "qos":"2",
      "datatype":"auto",
      "broker":"920bfa37.0c7b9",
      "x":90,
      "y":260,
      "wires":[
         [
            "f00cabaa.520258"
         ]
      ]
   },
   {
      "id":"48327141.b4bc",
      "type":"debug",
      "z":"bbca45a7.a7fce8",
      "name":"Input",
      "active":true,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"true",
      "targetType":"full",
      "statusVal":"",
      "statusType":"auto",
      "x":380,
      "y":320,
      "wires":[
         
      ]
   },
   {
      "id":"68ded9ff.9096f8",
      "type":"debug",
      "z":"bbca45a7.a7fce8",
      "name":"Answer Kodi",
      "active":true,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"payload",
      "targetType":"msg",
      "statusVal":"",
      "statusType":"auto",
      "x":1240,
      "y":300,
      "wires":[
         
      ]
   },
   {
      "id":"920bfa37.0c7b9",
      "type":"mqtt-broker",
      "name":"Prod neeo brain",
      "broker":"127.0.0.1",
      "port":"1883",
      "clientid":"",
      "usetls":false,
      "compatmode":false,
      "keepalive":"60",
      "cleansession":true,
      "birthTopic":"",
      "birthQos":"0",
      "birthPayload":"",
      "closeTopic":"",
      "closeQos":"0",
      "closePayload":"",
      "willTopic":"",
      "willQos":"0",
      "willPayload":""
   }
]